@import '../../properties.css';

.root {
    position: relative;
    width: 100%;
    height: 600px;
}

.slide {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    /* top: 168px; */
    right: 0;
    width: 82%;
    bottom: 0;
}

.list {
    background-image: url(../../../public/corpimg.001.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    float: none;
    /* display: none; */  /* 画像を複数で切替にする場合は必要 */
    height: 600px;
    width: 100%;
    z-index: 0;
}
