.footer {
    padding: 3rem 8rem;    
    position: relative;
}

.footerinner {
    display: flex;
    height: 17rem;
    margin: auto;
}

.basicinfo {
    width: 50%;
}

.links {
    text-align: right;
    width: 50%;
}

@media screen and (max-width: 1124px) {
    .footer {
        padding: 2rem;           
    }
}

@media screen and (max-width: 900px) {
    .footer {
        padding: 2rem;           
    }
}

@media (max-width: 590px) {
    .footer {
        padding: 1rem;           
    }

    .footerinner {
        display: inline-block;
        margin: auto;
        padding-bottom: 2rem;
    }
    
    .basicinfo {
        width: 100%;
    }
    
    .links {
        margin-top: 1rem;
        text-align: left;
        width: 100%;
    }    

    .text {
        font-size: 13px;
        line-height: 1.7;
        margin: 0;
        width: 100%;
    }
}