@import "../../properties.css";

.root {
    font-weight: 500;
    margin-bottom: 2rem;    
    text-align: center;
}

.heading {
    margin: 0;
}

.eng {
    color: var(--color-company) !important;
    margin: 0;
}