/* flexにしたい場合 */
.containerflex {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
}

.bodyflex {
    flex: 1;
    min-width: 0;
}

/* 並列レイアウトでwidth: 50%で使いたい場合 */
.containerhalf {
    align-items: center;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    flex-wrap: wrap;
    width: 100%;
}

.contenthalf {
    width: 50%;
}

.bodyhalf {
    width: 50%;
}


@media screen and (max-width: 904px) {
    .containerflex {
        display: block;
    }       

    .containerhalf {
        line-height: 1.6;
    }
}

@media (max-width: 590px) {
    .containerhalf {
        align-items: center;
        display: inline-block;
        width: 100%;
    }
    
    .contenthalf {
        -webkit-box-ordinal-group:2;
        -ms-flex-order:2;
        -webkit-order:2;
        order:2;    
        width: 100%;
    }
    
    .bodyhalf {
        -webkit-box-ordinal-group:1;
        -ms-flex-order:1;
        -webkit-order:1;
        order:1;    
        width: 100%;
    }
}