@import '../../properties.css';

.root {
    display: block;
    width: 290px;
}

.root:hover {
    opacity: 0.5;
    transition-duration: 0.6s;
}

.logo {
    color: var(--color-black);
    font-size: var(--font-size-l);
    text-decoration: none;
}

.image {
    width: 200px;
}

.name {
    display: block;
    font-weight: 700;
}

@media screen and (max-width: 500px) {
    .root {
        display: inline-block;
        width: 200px;
    }

    .image {
        width: 150px;
    }
   
    .name {
        font-size: var(--font-size-s) !important;
    }    
}