@import "../../properties.css";

.header {
    height: 345px;
}

.headerinner {
    padding: 4rem 8rem 2rem 8rem;
}

.lists {
    text-align: right;
}

.hamburgermenu {
    display: none;
}

/* タブレット */
@media screen and (max-width: 1124px) {
    .headerinner {
        padding: 2rem 4rem 2rem 2rem;
    }       
}

@media screen and (max-width: 768px) {
    .headerinner {
        padding: 2rem;
    }
}

@media screen and (max-width: 590px) {
    .header {
        height: 150px;
    }
    
    .headerinner {
        padding: 1rem;
    }       

    .lists {
        display: none;
    }

    .hamburgermenu {
        display: inline-block;
    }
}