@import "../../properties.css";
/* firefox */
_::-webkit-full-page-media, .item {
   position: absolute;
}

_::-webkit-full-page-media, .item + .item {
    margin-left: 2rem;
}

_::-webkit-full-page-media, .main {
    left: 2rem;
}
/* safari */
_:lang(x)+_:-webkit-full-screen-document, .item {
    left: 4rem;
}

_:lang(x)+_:-webkit-full-screen-document, .main {
    left: 6rem;
}

.item {
    display: inline-flex;
    float: left;
    margin: 0;
    writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode:vertical-rl;
}

.item + .item {
    padding-left: .5rem;
}

.main {
    font-family: リュウミン L-KL  または  Ryumin Light KL !important;
    font-size: 4rem !important;
    font-weight: 600 !important;
    margin-left: .8rem;
}

@media screen and (max-width: 1024px) {   
    .item + .item {
        padding-left: .3rem;
    }   

    .main {
        font-size: 3.6rem !important;
        height: 32rem;
        margin-left: .2rem;
    }    
}

@media screen and (max-width: 768px) {
    .main {
        font-size: 3rem !important;
        height: 25rem;
        margin-left: .2rem;
    }    
}

@media (max-width: 590px) {
    .main {
        height: 16rem;
        font-size: 2rem !important;
        font-weight: 500 !important;
        margin-left: 0;
    }   

    .item + .item {
        padding-left: 0rem;
    }    
}