.titlewrapper {
    display: inline-block;
    background-color: var(--color-white);
    border-left: var(--color-company) solid 3px;
    height: auto;
    width: 35%;
    padding: 0 12rem 6rem 2rem; 
    position: absolute;
    text-align: center;
    top: 20rem;
    z-index: 1;
}

.visualwrapper {
    height: auto;
    text-align: right;
    width: 100%;
    z-index: 0;
}

.image {
    height: auto;
    width: 70%;
}

@media screen and (max-width: 1124px) {
    .titlewrapper {
        width: 25%;
        padding: 0 10rem 4rem 2rem; 
        position: absolute;
        text-align: center;
        top: 20rem;
        z-index: 1;
    }
    
    .image {
        width: 80%;
    }       
}

@media screen and (max-width: 768px) {
    .titlewrapper {
        padding: 0 10rem 2rem 2rem; 
        position: absolute;
        text-align: center;
        top: 18.5rem;
        width: 20%;
        z-index: 1;
    }   
}

@media (max-width: 590px) {
    .titlewrapper {
        display: inline-block;
        border-left: var(--color-company) solid 2px;
        height: auto;
        width: 30%;
        padding: 0 4rem 0 2rem; 
        position: absolute;
        text-align: center;
        top: 8rem;
    }   

    .image {
        height: 300px;
        width: 100%;
    }       
}