@import "../../properties.css";

.section {
    margin-bottom: 8rem;
}

.messagewrapper {
    padding: 0 10vw;
}

.messagetitle {
    color: var(--color-red);
    margin-bottom: 0;
}

.messagebig {
    letter-spacing: .6px;
    line-height: 1.67;
}

.text {
    margin-left: 4rem;
}


.definitionwrapper {
    background-color: rgba(192, 184, 184, 0.067);  
    display: block;
    padding: 3vw 10vw 5vw 14vw;
}

.applicantHeading {
    display: inline-block;
}

.definitionlist {
    background-color: var(--color-white);
    border-radius: 20px;
    margin: 0;
    padding: 80px 100px;
    width: 80%;
}

@media screen and (max-width: 1324px) {
    .definitionwrapper {
        padding: 3vw 10vw 5vw 7vw;
    }       
}

@media screen and (max-width: 950px) {
    .definitionwrapper {
        padding: 3vw 10vw 5vw 2vw;
    }       
}

@media (max-width: 800px) {
    .section {
        margin-bottom: 4rem;
    }    

    .definitionwrapper {
        background-color: rgba(192, 184, 184, 0.067);  
        padding: 2rem 0;
        width: 100%;
   }

    .definitionlist {
        background-color: var(--color-white);
        border-radius: 10px;
        margin: 0 auto;
        padding: 0 1rem;
        width: 90%;
    }       

    .messagebig {
        font-size: 1.3rem;
        text-align: center;
    }

    .text {
        margin-left: 0;
    }
}