.layout {
    width: 70rem;
    margin: 0 auto;
}

.img {
    height: 300px;
    width: 500px;
}

.text {
    line-height: 1.8rem;
    margin: 0;
    padding: 0 2rem;
}

.name {
    padding-top: 5rem;
    text-align: right;
}

.em {
    font-family: リュウミン L-KL  または  Ryumin Light KL !important;
    font-size: var(--font-size-xl);
    font-weight: 600;
}

@media screen and (max-width: 1124px) {
    .layout {
        width: 90%;
        margin: 0 auto;
    }       

    .name {
        padding-top: 2rem;
    }

}

@media screen and (max-width: 904px) {
    .layout {
        text-align: center;
    }

    .text {
        line-height: 1.9rem;
        text-align: left;
    }
}

@media (max-width: 590px) {
    .img {
        width: 100%;
    }       
}