@import "../../properties.css";

.body {
    background-color: rgba(192, 184, 184, 0.067);
    height: 30rem;
    position: relative;
    width: 100%;
}

.inline {
    background-color: var(--color-white);
    bottom: 0;
    display: -webkit-box;
	display: -ms-flexbox;
    display: flex;
    height: 70%;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 65rem;
    vertical-align: middle;
}

.left {
    text-align: center;
    width: 40%;
    margin: auto 0;
}

.right {
    border-left: 1.5px solid rgba(243, 242, 242, 0.904);
    margin: auto 0;
    text-align: center;
    width: 60%;
}   

.msg {
    padding: 0 4.5rem;
}

.tel {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.3rem;
    margin: 0;
}

.hour {
    margin: 0 0 2rem 0;
}

.tel::before {
    content: url('../../../public/call.svg');
}