@import "../../properties.css";

.body {
    background-color: rgba(192, 184, 184, 0.067);
    height: 30rem;
    position: relative;
    width: 100%;
}

.inline {
    background-color: var(--color-white);
    bottom: 0;
    display: -webkit-box;
	display: -ms-flexbox;
    display: flex;
    height: 70%;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 63rem;
    vertical-align: middle;
}

.left {
    width: 40%;
    margin: auto 0;
    padding: 0 4.5rem;
    text-align: center;
}

.right {
    border-left: 1.5px solid rgba(243, 242, 242, 0.904);
    margin: auto 0;
    text-align: center;
    width: 60%;
}   

.tel {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.3rem;
    margin: 0;
}

.hour {
    margin: 0 0 2rem 0;
}

.tel::before {
    content: url('../../../public/call.svg');
}

@media screen and (max-width: 1024px) {
    .inline {
        width: 80%;
    }            
}

@media screen and (max-width: 768px) {
    .left {
        line-height: 1.6;
        padding: 0 3rem;
        text-align: left;
    }

    .tel {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 590px) {
    .body {
        height: 25rem;
    }

    .inline{
        display: inline-block;
        height: 90%;
        width: 90%;
    }

    .left {
        width: 100%;
        margin: auto 0;
        padding: 2rem 0;
        text-align: center;
    }
    
    .right {
        border-top: 1.5px solid rgba(243, 242, 242, 0.904);
        border-left: none;
        padding-top: 2rem;
        text-align: center;
        width: 100%;
    }       
}