.map {
    width: 70rem;
}

@media screen and (max-width: 1024px) {
    .map {
        width: 90%;
    }
}

@media screen and (max-width: 590px) {
    .map {
        height: 400px;
        width: 90%;
    }
}